
**/*.DS_Store
.DS_Store
.idea
glusers/templates/.DS_Store

helpcenter/.DS_Store
**/*.json
**/*.pyc
*pyc
media/
**/*~
**/*#
profile_images/
photos/1/
dev_settings*
keys*
testfiles/
non-git/
*#*
devstatic/