Django==1.8.13
MySQL-python==1.2.5
Pillow==2.7.0
PyMySQL==0.6.7
anyjson==0.3.3
boto==2.40.0
pytz==2013.7
django-compressor==2.1
django-easy-timezones==0.7.0
django-hitcount==1.2.2
easy-thumbnails==2.2.1
django-image-cropping==1.0.2
django-redis==4.4.4
django-redis-cache==1.7.0
django-storages==1.4.1
geopy==1.11.0
mock==2.0.0
numpy==1.8.0
pygeoip==0.3.2
wsgiref==0.1.2
shortuuid==0.4.2
