{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="header-background">
  {% block header%}
  {{ block.super }}
  {% endblock %}
    <div class="upper-section">
      <div class="main-description w-container">
        <h1 class="about-title">Quem somos?</h1>
        <p class="justified">O Direito em Tela surgiu no início de 2014, de uma iniciativa dos professores universitários Ricardo e Séfora, ao perceberem que seus alunos estavam carentes de materiais objetivos e de qualidade para complementar os ensinos de sala de aula.</p>
        <p class="hidden-mobile justified">
          <br>Desde lá, dezenas de milhares de estudantes de direito de todo o Brasil encontraram o canal e se encantaram com as aulas completas e concisas, ministradas por professores universitários experientes, e, hoje, usam nossos vídeos como fonte principal de estudo complementar às suas aulas de graduação e para concursos públicos.</p>
      </div>
      <div class="w-container">
        <div class="w-row website-stat-row">
          <div class="left-alignment-big stats-column w-col w-col-4 w-col-stack">
            <div class="website-stat-box"><img class="stats-image" src="{% static 'images/eyes-icon-0.png'%}">
              <div class="stat-text-box">
                <h1 class="stat-number">2.000.000</h1>
                <div class="stat-subtext">visualizações</div>
              </div>
            </div>
          </div>
          <div class="stats-column w-col w-col-4 w-col-stack">
            <div class="website-stat-box"><img class="stats-image" src="{% static 'images/youtube-subscriber-icon.png'%}">
              <div class="stat-text-box">
                <h1 class="stat-number">20.000</h1>
                <div class="stat-subtext">inscritos</div>
              </div>
            </div>
          </div>
          <div class="right-alignment-big stats-column w-col w-col-4 w-col-stack">
            <div class="website-stat-box"><img class="stats-image" src="{% static 'images/video_icon_cut.png'%}">
              <div class="stat-text-box">
                <h1 class="stat-number">275</h1>
                <div class="stat-subtext">vídeos</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-section" id="posts">
      <div class="w-container website-stats"></div>
      <div class="main-description w-container">
        <h1 class="professors-title">Os Professores</h1>
        <div class="team-row w-row">
          <div class="w-col w-col-4 w-col-medium-4 w-col-small-4"><img class="about-image" src="{% static 'images/corpointeiro.png'%}" width="500">
          </div>
          <div class="w-col w-col-8 w-col-medium-8 w-col-small-8">
            <h2 class="professor-name" id="professor-name">Prof. Ricardo Schubert</h2>
            <ul class="professor-atribute-list">
              <li class="professor-list-item">Graduado em Licenciatura em Estudos Sociais pela Universidade do Vale do Itajaí (1992)</li>
              <li class="professor-list-item">Graduado em Direito pela Universidade do Vale Do Itajaí (1997)</li>
              <li class="professor-list-item">Mestre em Gestão de Políticas Públicas pela Universidade do Vale do Itajaí (2003)</li>
              <li class="professor-list-item">Professor de Direito na Universidade da Região de Joinville desde 2006</li>
            </ul>
            <h2 class="professor-name">Prof. Séfora Schubert</h2>
            <ul class="professor-atribute-list">
              <li class="professor-list-item">Graduada em Direito pela Faculdade de Direito de Joinville (1996)</li>
              <li class="professor-list-item">Mestre em Ciências Jurídicas pela Universidade do Vale do Itajaí (2003)</li>
              <li class="professor-list-item">Professora universitária desde 2004 de Direito Civil, Administrativo e Constitucional. Já lecionou na Universidade da Região de Joinville, na Faculdade Cenecista de Joinville e na Escola da Magistratura do Trabalho</li>
              <li class="professor-list-item">Colunista da Revista Jurídica Consulex de 2002 a 2011</li>
              <li class="professor-list-item">Co-autora dos livros Frases Jurídicas e Curso de Direito Administrativo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	{% endblock %}
