{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div>
  {% block header %}
  {{block.super}}
  {% endblock %}
  <div class="category inner-hero">
    <div class="container">
      <h1 class="hero-header">Categorias</h1>
    </div>
  </div>
  <div class="main-section" id="posts">
    <div class="categories-div mid-section-container w-container">
      <div class="w-dyn-list">
        <div class="w-clearfix w-dyn-items w-row">
          <div class="blog-thumbnail w-col w-col-4 w-dyn-item">
            <a class="thumbnail-wrapper w-inline-block" data-ix="blog-thumbnail">
              <div class="image-wrapper">
                <div class="thumbnail-image"></div>
              </div>
              <div class="thumbnail-text">
                <div class="blog-title"></div>
                <div class="preview-text"></div>
              </div>
              <div class="thumb-details w-clearfix"><img class="author-img">
                <div class="author-title"></div>
                <div class="thumbnail-date"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
