{% extends 'base.html' %}
{% load staticfiles %}{% load cropping %}
{% block content %}
<div class="header-background">
  {% block header %}
  {{block.super}}
  {% endblock %}
  <div class="navbar w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
      <div class="w-container">
        <a class="logo w-nav-brand" href="#"></a>
        <nav class="w-nav-menu" role="navigation"><a class="w-nav-link" href="#">Home</a><a class="w-nav-link" href="#">About</a><a class="w-nav-link" href="#">Contact</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-bar-plain"></div>
  <div class="thick-separator"></div>
  <div>
    <div class="main-section" id="posts">
      <div class="video-container w-container" id="video-container">
        <div class="video-page-title-div">
          <h1 class="video-tile">{{video.title}}</h1>
          <div class="video-page-subtitle">Aula <span class="yellow-text">{{video_index}}</span> de <span class="yellow-text">{{videos_in_category}}</span> em <a href="{% url 'category_page' category_id=category.id %}"><strong class="yellow-text">{{category.title}} - {{category.description}}</strong></a>.</div>
        </div>
        <div class="video-row w-row">
          <div class="w-col w-col-8 w-col-medium-8">
            <div class="w-embed w-video" style="padding-top: 56.17021276595745%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FH7YKs4lO29k%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DH7YKs4lO29k&amp;image={% cropped_thumbnail video 'thumbnail_ratio' %}&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="video-tabs w-tabs" data-duration-in="300" data-duration-out="100">
              <div class="tabs-menu-line-underneath w-tab-menu">
                <a class="tab-title w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
                  <div>Descrição</div>
                </a>
                <a class="tab-title w-inline-block w-tab-link" data-w-tab="Tab 2">
                  <div>Materiais de Estudo</div>
                </a>
                <a class="tab-title w-inline-block w-tab-link" data-w-tab="Tab 3">
                  <div>Professor</div>
                </a>
              </div>
              <div class="w-tab-content">
                <div class="description-tab w--tab-active w-tab-pane" data-w-tab="Tab 1">
                  <p class="video-page-description">{{video.description}}</p>
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 2"></div>
                <div class="w-tab-pane" data-w-tab="Tab 3"></div>
              </div>
            </div>
          </div>
          <div class="video-suggestions-column w-col w-col-4 w-col-medium-4">
            <div class="video-suggestions-title-div">
              <div class="video-suggestions-title">Direito do Trabalho</div>
              <div class="video-suggestions-subtitle">Parte Geral</div>
            </div>
            <div class="yellow-separator"></div>
            <div class="video-suggestions-videos-div">
              <div class="grey-text video-suggestions-subtitle">Próximos vídeos</div>
            </div>
            <div class="scroll-div">
			  {% for suggestion in suggestions %}
			  {% with video_index|add:forloop.counter as suggestion_index %}
              <div class="straight-separator"></div><a class="video-suggestions-video-item-div w-inline-block" href="{% url 'category_video' category_id=category.id video_index=suggestion_index %}"><h1 class="next-video-item-number">{{suggestion_index}}</h1><img class="next-video-item-image" src="{% cropped_thumbnail suggestion 'thumbnail_ratio' %}" width="100"><div class="next-vide-item-text">{{suggestion.title}}</div></a>
			  {% endwith %}
			  {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
	{% endblock %}
